*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 243, 245);
}

body{
    background-color: rgb(229, 243, 245);
}

.greet{
    text-align: center;
    color: rgb(0, 195, 255);
    padding: 10px;
    background-color:rgb(180, 250, 68);
}

.hero{
    position: relative;
    width: 100%;
}

.text{
    margin: 20px;
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    
}


.card{
    color: blue;
    margin: 100px;
    margin-right: 200px;
    background-color: rgb(233, 246, 248);
}

.card:hover{
    transform: scale(1.02);

}

.cards{
    width: 150px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(76, 234, 255);
    outline-color: rgb(41, 171, 247);
    outline-style: dashed;
    outline-width: 1px;
    margin: 10px;
    padding: 4px;
    text-align: center;
}
.cards:hover{
    transform: scale(1.06);
}

.fas{
    font-size: 45px;
}